<li class="flex--list">
  <article class="image--container">
    <%=image_tag "" %>
  </article>
  <article class="user--info--container">
    <h3>Username</h3>
    <p>
      <span>Number of posts:</span>
      <span>x</span>
    </p>
  </article>
</li>