<li class="flex--list">
  <article class="image--container">
    <%= image_tag user.photo, alt: "#{user.name}'s Photo" %>
  </article>
  <article class="user--info--container">
    <h3> <%= link_to user.name, user_path(user) %></h3>
    <div class="flex--bottom">
      <p>
        <span>Number of posts:</span>
        <span><%= user.posts_counter %></span>
      </p>
    </div>
  </article>
</li>
