<section class="details--container">
  <article class="first--box">
    <section class="user--info">
      <%= render 'user_list', user: @user %>
    </section>
    <section class="bio--container">
      <h5>Bio</h5>
      <p><%= @user.bio %></p>
    </section>
    <ul class="post--list">
      <% @user.posts.each do |post| %>
        <%= render 'posts/post_list', post: post %>
      <% end %>
    </ul>
  </article>
  <button class="btn">See all posts</button>
</section>