 <li class="comments--and--posts--list">
  <%= render 'post_list', post: post %>
  <section>
    <ul class="comments--container">
      <% post.comments.each do |comment| %>
        <%= render 'comment', comment: comment %>
      <% end %>
    </ul>
  </section>
</li>