 <li class="comments--and--posts--list">
  <%= render 'post_list' %>
  <section>
    <ul class="comments--container">
      <%= render 'comment' %>
      <%= render 'comment' %>
      <%= render 'comment' %>
    </ul>
  </section>
</li>