.post--list {
  display: grid;
  gap: 1rem;
  margin-top: 20px;
}

.post--item {
  display: grid;
  gap: 2rem;
  padding: 4px 10px 10px 10px;
  border: 1px solid #000;
}

.likes--and--comments {
  display: flex;
  justify-content: space-between;
}
.likes--and--comments  p {
  display: flex;
  gap: 1rem;
}
.likes--and--comments a {
  font-size: 1rem;
  text-transform: capitalize;
}
