<li class="post--item">
  <div class="post--content">
    <h5><%= link_to post.title, user_post_path(user, post) %></h5>
    <p><%= slice_text(post.text) %></p>
  </div>
  <div class="likes--and--comments">
    <p>
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes:  <%= post.likes_counter %></span>
    </p>
  </div>
</li>