<li class="post--item">
  <h5>Post 1</h5>
  <p>Lorem ipsum, dolor sit amet consectetur 
    adipisicing elit. Praesentium ab laudantium, 
    veniam aliquam voluptate eligendi 
    esse cumque laborum? Modi, dignissimos...
  </p>
  <div class="likes--and--comments">
    <span>Comments: x</span>
    <span>Likes: y</span>
  </div>
</li>